






<div class="mainpage-wrapper">

  
  

  <div class="image-container">
    <h1><strong>Hello, World!!!</strong></h1>
    <!-- <img size="auto" src="/Users/gordonakinpelu/Desktop/OnlineResume/Online-Resume/src/assets/images/Moi.jpeg"> -->
  </div>

  <div class="links-container">

    
    <div class="container1">
        <h1>Experience</h1>
        <i class="material-icons">
            laptop_mac
            </i><br>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Tech <strong>+</strong></button>
      <div id="demo" class="collapse">
          
              <li>UI automation experience using Protractor and Jasmine</li>
              <li>JavaScript/TypeScript</li>
              <li>Familiarity with Angular 6 basics</li>
              <li>Mac OS proficient</li>
              <li>Experience with Git, Github, and Bitbucket in reviewing and merging code via pull requests</li>


      </div>
    </div>
     
    <div class="container2">
        <i class="material-icons">
            people
            </i><br>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Management <strong>+</strong></button>
      <div id="demo1" class="collapse">
          
              <li>Managed up to 17 subordinates and one supervisor</li>
              <li>Managed an off-shore team of 30 regarding the short sale and DIL process</li>
              <li>As a backend project manager, oversaw the construction of up to 12 homes at once</li>
             
      </div>
    </div>

    <div class="container3">
        <i class="material-icons">
            show_chart
            </i><br>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">Highlights <strong>+</strong></button>
      <div id="demo2" class="collapse">
          <li>As short sale manager, increased production by 55% from Q1 to Q2</li>
          <li>Continuously trained and mentored staff in the absence of a dedicated training department</li>
          <li>Instrumental in helping OneWest Bank maintain its 4-star rating in regards to government housing assistance programs</li>
          <li>As a Vendor Manager in charge of invoicing, revised billing parameters, saving $5,000/month in excess fees</li>
      </div>
    </div>

    <div class="container4">
        <i class="material-icons">
            info
            </i><br>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">Additional Info <strong>+</strong></button>
      <div id="demo3" class="collapse">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
    
   
  </div> 

  <div class="about-me-box">
    <div class="hello-world-box">
        <p>Welcome to my presence on the web. Please see below
          to learn more about myself and my varied experience...
        </p>
    </div>
    
    <div class="handwritten-text">
      <p>
        Best, <br>
        Gordon J. Akinpelu
      </p>

    </div>
    
  </div>

  


</div>

